@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500&family=Nunito:wght@300;400;600;700&family=Roboto:wght@300;400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    background-color: #9ACD32;
}

.logo{
    width: 11vw;
    padding: 1rem 0 2.5rem 1rem;
}
nav{
    width: 100%;
}
.list{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #556B2F;
    font-weight: 600;
}
.list li:hover{
    cursor: pointer;
    color:#8B7500;
}
.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img-family{
    width: 40vw;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: #556B2F;
}
.figure p{
    margin-bottom: 2rem;
    margin-top: 1.5em;
    text-align: center;
}
.container-image img{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
}
.container-image{
    width: 60vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:  wrap;
}
.container-image:hover{
    background-color:#6B8E23;
    transform: scale(1.0);
}
.container-image img:hover{
    border: 3px solid #8B7500;
    transform: scale(1.0);
    cursor: pointer;
}
.container-main{
    display: flex;
}
h2{
    color:#8B6914;
    padding-bottom: 10%;
}
.box-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-news{
    height: 10vh;
    width: 100%;
    background: #9ACD32;
    font-size: 1.5em;
    color:  #556B2F;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.container-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.box-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    margin: 1.75rem;
}
.box-content:hover{
    background-color: #BDB76B;
}
.container-footer{
    width: 100%;
    background: #9ACD32;
}
.container-footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-footer li{
    text-transform: uppercase;
    color: #556B2F;
    font-weight: 600;
}
.container-footer li:hover{
    cursor: pointer;
    color:#8B7500;
}
a{
    color: #556B2F;
}
.container-footer p{
    color: #556B2F;
    font-weight: 600;
}
.footer-icon{
   width: 120px;
   margin-top: 1rem;
}
.box-copyright{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
    }
    .box-logo{
        background-color: #fff;
        display: flex;
        justify-content: center;
    }
    .box-logo img{
        width: 40%;
    }
    nav{
        height: 100px;
    }
   
    .container-main{
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
        justify-content: center;
        padding-top: 10%;
    }
   .figure{
        width: 100%;
   }
    .container-content{
        display: flex;
        flex-wrap: wrap;
    }
    .box-image img{
        display: none;
    }
     .box-image p{
        display: none;
    }
    iframe{
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }
  .footer-icon{
      width: 90px;
  }
}

@media (max-width: 360px) {
    .figure p{
        display: none;
    }
    .container-footer li{
        display: none;
    }
    footer{
        width: 100%;
    }
    .footer-icon{
        width: 90px;
    }
}
